@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,600');

body {
  position: relative;
  min-height: 100vh;
}

nav {
  height: 50px;
  position: relative;
}

// HACK: This is a quick hack.
nav .container-fluid,
nav .row,
nav .col-12 {
  position: relative;
  height: 100%;
}

nav ul,
nav .logo {
  padding: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  list-style-type: none;
}

nav .logo {
  left: 10px;
  height: 90%;
}

nav .logo img {
  height: 100%;
}

nav ul {
  right: 10px;
}

@media (max-width: 767px) {
  nav ul {
    display: none;
  }
}

nav ul a {
  display: inline-block;
  margin: 0 20px;
  font-family: 'Quicksand', sans-serif;
  color: #671a7a;
  font-weight: 500;
}

nav ul a:hover {
  color: #26c6cd;
  text-decoration: none;
}

nav .mobile-toggle {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  color: #671a7a;
  font-size: 20px;
  cursor: pointer;
}

@media (min-width: 768px) {
  nav .mobile-toggle {
    display: none;
  }
}

.mobile-menu {
  position: fixed;
  height: 100%;
  width: 50%;
  right: 0;
  top: 0;
  background: #f8fafc;
  z-index: 9;
  box-shadow: 0 0 10px rgba(0, 0, 0, .4);
  display: none;
}

.mobile-menu .close-menu {
  text-align: right;
}

.mobile-menu ul {
  list-style-type: none;
  padding: 0;
  margin: 15px;
}

.mobile-menu ul a {
  // display: inline-block;
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
  color: #671a7a;
}

.mobile-menu ul a:hover {
  color: #26c6cd;
  text-decoration: none;
}

.mobile-menu ul li {
  padding: 15px 0;
}

#top .header-image{
  background-color: grey;
  background-size: cover;
  background-position: center center;
  display: block;
  position: relative;
}

@media (max-width: 767px) {
  #top .header-image {
    height: 300px;
    width: 100%;
  }
}

@media (min-width: 768px) {
  #top .header-image {
    height: 500px;
    width: 100%;
  }
}

@media (min-width: 2560px) {
  #top .header-image {
    height: 750px;
    width: 100%;
  }
}

#top .header-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

#top .header-text .big-text {
  font-family: 'Quicksand', sans-serif;
  font-size: 45px;
  color: white;
  text-transform: uppercase;
}

#top .header-text .big-text b{
  font-family: 'Quicksand', sans-serif;
  font-weight: 600;
}

#top .header-text .small-text {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  color: white;
}

@media (max-width: 767px) {
  #top .header-text .big-text {
    font-size: 25px;
  }

  #top .header-text .big-text b{
  }

  #top .header-text .small-text {
    font-size: 15px;
  }
}

#top .header-text .button {
  margin-top: 30px;
}

#top .header-text .button a {
  font-family: 'Roboto', sans-serif;
  border-radius: 50px;
  border: 1px solid #671a7a;
  padding: 13px;
  background: #671a7a;
  color: #fff;
  transition: .5s;
  font-weight: 600;
}

#top .header-text .button a:hover {
  text-decoration: none;
  background: #26c6cd;
  color: #191919;
}

#main-wrapper {
  padding-bottom: 70px;
}

.section-title {
  margin: 25px auto;
  font-size: 25px;
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
}

#portfolio img {
  width: 100%;
}

#package .package-item {
  background: #dfdfdf;
  padding-top: 25%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
}

#package .overlay-package-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .4);
  text-align: center;
  opacity: 1;
}

@media (min-width: 768px) {
  #package .overlay-package-item {
    opacity: 0;
  }
}
#package .overlay-package-item:hover {
  opacity: 1;
  transition: .3s;
}

#package .overlay-package-item .text-item{
  position: absolute;
  color: #fff;
  top: 50%;
  transform: translateY(-50%);
  font-family: 'Quicksand', sans-serif;
  font-size: 17px;
  width: 100%;
}

#package .overlay-package-item .text-item a {
  color: #fff;
}

#package .overlay-package-item .text-item a:hover {
  color: #fff;
  text-decoration: none;
}

#package .overlay-package-item .text-button {
  border: 1px solid #fff;
  width: 50%;
  margin: 5px auto;
  padding: 5px;
  border-radius: 50px;
  font-size: 13px;
  transition: .3s;
}

#package .overlay-package-item .text-button a {
  color: #fff;
}

#package .overlay-package-item .text-button a:hover {
  text-decoration: none;
}

#package .overlay-package-item .text-button:hover {
  background: #671a7a;
  border: 1px solid transparent;
  cursor: pointer;
}

#package-tab {
  margin-top: 25px;
  font-family: "Quicksand", sans-serif;
}

#package-tab .packages-list-container {
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, .3);
  min-height: 600px;
  position: relative;
}

@media (max-width: 767px) {
  #package-tab .packages-list-container {
    margin: 10px 0;
  }
}

.packages-list-container-long {
  font-size: 0;
  margin-top: 20px;
  margin-bottom: 100px;
}

.packages-list-container-long .package-image {
  width: 30%;
  padding-top: 30%;
  background: #DFDFDF;
  display: inline-block;
  background-position: center center;
  background-size: cover;
  vertical-align: top;
}

.packages-list-container-long .desc-scroll {
  width: 100%;
  overflow-x: auto;
  width: auto;
  white-space: nowrap;
}

@media (max-width: 767px) {
  .packages-list-container-long .package-image {
    width: 100%;
    padding-top: 100%;
    display: block;
  }
}

@media (max-width: 767px) {
  .packages-list-container-long .package-image {
    width: 100% !important;
    padding-top: 100%;
  }

  // .packages-list-container-long .package-description {
  //   display: block;
  //   padding-left: 0 !important;
  //   width: 100% !important;
  //   display: inline-block !important;
  //   padding-top: 10px !important;
  // }

  .packages-list-container-long .desc-preview {
    height: 150px !important;
  }

  .packages-list-container-long .preview-item {
    height: 100%;
    margin: 0;
    display: inline-block !important;
  }

  .packages-list-container-long .vertical-center {
    position: relative !important;
    top: 0;
    width: 100%;
  }
}

@media (min-width: 767px) and (max-width: 991px) {
  #package-details .container {
    width: 90% !important;
    max-width: inherit;
    margin: 0 auto;
  }

  .packages-list-container-long .package-image {
    width: 45% !important;
    padding-top: 45% !important;
  }

  // .packages-list-container-long .package-description {
  //   width: 55% !important;
  // }

  .packages-list-container-long .package-description .desc-button {
    width: 25% !important;
  }
}

.packages-list-container-long .package-description {
  padding-left: 5px;
  padding-top: 5px;
  // width: 70%;
  display: inline-block;
  font-size: 12px;
  position: relative;
  // padding-top: 30%;
}

.packages-list-container-long .desc-title {
  font-weight: 500;
  font-size: 21px;
  font-family: "Quicksand", sans-serif;
}

.desc-description {
  margin-top: 12px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 300;
}

// .packages-list-container-long .package-description .vertical-center {
//   position: absolute;
//   top: 0;
//   width: 100%;
// }

.packages-list-container-long .desc-button {
  width: 20%;
  margin-top: 10px;
  padding: 10px;
  text-align: center;
  background: #671a7a;
  border-radius: 5px;
  color: #fff;
}

.packages-list-container-long .desc-button:hover {
  background: #26c6cd;
  cursor: pointer;
}

.packages-list-container-long a:hover {
  text-decoration: none;
}

// .packages-list-container-long .package-description .desc-title:not(:first-child) {
//   margin-top: 20px;
// }
//
// .packages-list-container-long .package-description .desc-preview .preview-item {
//   height: 100px;
//   margin-right: 10px;
//   background-color: #DFDFDF;
//   background-position: center center;
//   background-size: cover;
//   background-repeat: no-repeat;
//   display: inline-block;
// }

.packages-list-container-long .package-preview-item {
  padding-top: 16.67%;
  display: block;
  background-color: #DFDFDF;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.packages-list-container-long .package-preview-big {
  padding-top: 25%;
  display: block;
  background-color: #DFDFDF;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media (max-width: 767px) {
  .packages-list-container-long .package-preview-big {
    padding-top: 75%;
  }
}

.packages-list-container .package-image {
  width: 100%;
  padding-top: 65%;
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 5px 5px 0 0;
}

.packages-list-container .package-description {
  padding: 10px;
}

.packages-list-container .package-description .desc-title {
  font-weight: 500;
  font-size: 18px;
}

.packages-list-container .package-description .desc-description {
  margin-top: 25px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400px;
  position: relative;
}

.packages-list-container .package-description .desc-button-link {
  position: absolute;
  bottom: 10px;
  width: 100%;
  padding: 5px 15px;
  left: 0;
}

@media (max-width: 767px) {
  .packages-list-container .package-description .desc-button-link {
    position: relative;
    padding: auto;
  }
}

.packages-list-container .package-description .desc-button {
  width: 100%;
  margin-top: 30px;
  padding: 10px;
  text-align: center;
  background: #671a7a;
  border-radius: 5px;
  color: #fff;
}

button.desc-button-link {
  background: #671a7a;
  border: 0;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, .3);
  transition: .1s;
}

.packages-list-container .package-description .desc-button:hover {
  background: #26c6cd;
  cursor: pointer;
}

button.desc-button-link:hover {
  background: #26c6cd;
  cursor: pointer;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, .2);
}

.packages-list-container .package-description a:hover {
  text-decoration: none;
}

.selection-header {
  text-align: center;
  font-family: "Quicksand", sans-serif;
  font-size: 30px;
  margin-bottom: 30px;
}

.selection-header-small {
  font-size: 15px;
  font-weight: 600;
}

.package-list-selection-container {
  margin-bottom: 10px;
}

.packages-list-selection {
  background: #fff;
  padding: 20px;
  box-shadow: 0 0 10px #cfcfcf;
  border-radius: 5px;
  height: 100%;
  position: relative;
  font-family: "Quicksand", sans-serif;
}

.packages-list-selection .package-title {
  font-size: 22px;
  font-weight: 500;
  color: #671a7a;
}

.packages-list-selection .package-description {
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 10px;
}

.packages-list-selection .package-price {
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 10px;
}

.packages-list-selection .package-price-big {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 10px;
}

.packages-list-selection .package-price-small {
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 10px;
}

.packages-list-selection .package-includes {
  margin-bottom: 60px;
  font-size: 13px;
}

.packages-list-selection .package-button {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 75%;
  text-align: center;
}

.packages-list-selection .package-button a {
  width: 100%;
  background: #671a7a;
  display: block;
  padding: 10px;
  color: #fff;
  border-radius: 5px;
  font-size: 13px;
  font-weight: 600;
}

.packages-list-selection .package-button a:hover {
  background: #26c6cd;
  text-decoration: none;
}

#gallery .photo-item {

}

#gallery-item .photo-item-container {
  margin: 10px 0;
}

#gallery-item .photo-item .image {
  padding-top: 100%;
  width: 100%;
  display: block;
  background-position: center center;
  background-size: cover;
  background-color: #DFDFDF;
}

footer {
  position: absolute;
  bottom: 0;
  left:0;
  width: 100%;
  background: #191919;
  margin-top: 20px;
  // height: 300px;
}

footer .footer-logo {
  width: 225px;
}

footer .footer-logo img {
  width: 100%;
}

.back-to-top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  font-size: 25px;
  background: #671a7a;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  display: none;
  z-index: 99999;
}

.back-to-top i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.window-kotak-form {
  background-color: #FFF;
  display: block;
  margin: 30px auto;
  box-shadow: 0 0 10px #dfdfdf;
  padding: 20px;
  border-radius: 5px;
}

.window-kotak-form .desc-title {
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  text-align: center;
  font-size: 25px;
}

.window-kotak-form .desc-description {
  text-align: center;
}

.tabel_form {
  align-content: center;
}

// Models
#models .model-col {
  margin: 10px auto;
  padding: 0 5px;
}

#models .model-container {
  height: 100%;
  width: 100%;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  padding: 0;
}

#models .model-container .model-image {
  height: 300px;
  background-color: #dfdfdf;
  border-radius: 5px 5px 0 0;
}

#models .model-container .model-desc {
  padding: 10px;
  font-family: "Quicksand", sans-serif;
  font-size: 15px;
  font-weight: 500;
}

//About Us
#topbar {
  height: 500px;
  background-color: #dfdfdf;
  display: block;
  margin-bottom: 25px;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

#topbar .topbar-absolute {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
  width: 50%;
  background: rgba(0, 0, 0, .3);
  color: white;
  padding: 20px;
  display: block;
}

@media(max-width: 991px) {
  #topbar .topbar-absolute {
    top: 50%;
    width: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

#topbar .topbar-absolute-title {
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  font-size: 35px;
}

#topbar .topbar-absolute-caption {
  margin-top: 15px;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 15px;
}

@media (max-width: 767px) {
  #topbar .topbar-absolute-title {
    font-size: 20px;
  }

  #topbar .topbar-absolute-caption {
    font-size: 13px;
  }
}

.ceo-picture {
  margin-bottom: 10px;
  font-family: 'Quicksand', sans-serif;
  width: 100%;
}

.ceo-picture .ceo-image {
  height: 125px;
  width: 125px;
  border-radius: 50%;
  background-color: #dfdfdf;
  margin: 0 auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

@media(max-width: 767px) {
  .team-list .ceo-image {
    width: 100px;
    height: 100px;
    max-width: 125px;
  }
}

.ceo-caption {
  width: 100%;
}

.ceo-caption .ceo-name {
  font-size: 16px;
  font-weight: 700;
}

.ceo-caption .ceo-title {
  font-size: 13px;
}

.team-container {
  display: inline-block;
  margin: 20px 0;
}

#about-us .text {
  margin-bottom: 50px;
}

// NOTE: Input Material Design Template
// VARIABLES // ============================== //
$bg-color: #424242;
$hl-color: #671A7A;
$muted-color: mix(white, $bg-color, 70%);
$trans-time: 300ms;
$width: 320px;

// FORM // ============================== //
form {
  width: $width;
  margin: 45px auto;

  h1 {
    font-size: 3em;
    font-weight: 300;
    text-align: center;
    color: $hl-color;
  }
  h5 {
    text-align: center;
    text-transform: uppercase;
    color: $muted-color;
  }
  hr.sep {
    background: $hl-color;
    box-shadow: none;
    border: none;
    height: 2px;
    width: 25%;
    margin: 0px auto 45px auto;
  }
  .emoji {
    font-size: 1.2em;
  }
}

.group {
  position: relative;
  margin: 45px 0;
}

// INPUTS // ============================== //
textarea {
  resize: none;
}

input,
textarea {
  background: none;
  color: #191919;
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: $width;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid $muted-color;
  &:focus {
    outline: none;
  }
  &:focus ~ label,
  &:valid ~ label {
    top: -14px;
    font-size: 12px;
    color: $hl-color;
  }
  &:focus ~ .bar:before {
    width: $width;
  }
}

input[type="password"] {
  letter-spacing: 0.3em;
}

label {
  color: $muted-color;
  font-size: 16px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: $trans-time ease all;
}

.bar {
  position: relative;
  display: block;
  width: $width;
  &:before {
    content: '';
    height: 2px;
    width: 0;
    bottom: 0px;
    position: absolute;
    background: $hl-color;
    transition: $trans-time ease all;
    left: 0%;
  }
}

// HACK: Hacks Class
.colorize-purple {
  color: #671a7a;
}

.force-bold {
  font-weight: 700;
}

@media (max-width: 767px) {
  .bg-pos-bottom {
    background-position-y: bottom !important;
  }

  .bg-pos-top {
    background-position-y: top !important;
  }

  .bg-pos-right {
    background-position-x: right !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .bg-sm-pos-bottom {
    background-position-y: bottom !important;
  }

  .bg-sm-pos-top {
    background-position-y: top !important;
  }

  .bg-sm-pos-right {
    background-position-x: right !important;
  }
}

@media (min-width: 992px) and (max-width: 1023px) {
  .bg-md-pos-bottom {
    background-position-y: bottom !important;
  }

  .bg-md-pos-top {
    background-position-y: top !important;
  }

  .bg-md-pos-right {
    background-position-x: right !important;
  }
}

@media (min-width: 1024px) {
  .bg-lg-pos-bottom {
    background-position-y: bottom !important;
  }

  .bg-lg-pos-top {
    background-position-y: top !important;
  }

  .bg-lg-pos-right {
    background-position-x: right !important;
  }
}
